<section class="w-full flex flex-row justify-center">
    <div class="w-auto flex bg-white rounded shadow px-8 py-4 mr-4">
        <div class="w-full">
            <div class="flex flex-row items-center justify-between">
                <h3 id="title">Lorem Ipsum</h3>
                <h5 id="eventType">Event Type?</h5>
            </div>
            <div>
                <p id="description" class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                    explicabo quia quam autem officia iste! Animi, exercitationem, 
                    incidunt molestiae harum facilis voluptatum ea obcaecati labore
                    eaque recusandae blanditiis, iusto quos!
                </p>
                <p id="result", class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
                    in? Expedita cupiditate quo ab, quos at officia culpa molestias quasi
                    nesciunt laborum vel nulla numquam!.
                </p>
            </div>
            <div class="flex flex-row m-0">
                <h6 class="mr-1">Ubicación:</h6>
                <p id="location">location</p>
            </div>
            <div class="flex flex-row justify-between items-end">
                <div class="flex flex-col">
                    <div class="flex flex-row m-0">
                        <h6 class="m-0 mr-1">Se entrega:</h6>
                        <p class="m-0" id="start">date</p>
                    </div>
                    <div class="flex flex-row ">
                        <h6 class="m-0 mr-1">Hora de entrega:</h6>
                        <p class="m-0" id="time">hour</p>
                    </div>
                </div>
                <h6 id="userInfo" class="m-0">User</h6>
            </div>

            <div>
                <hr class="bg-black h-px">
            </div>
            
            <div class="w-full flex flex-col">
                <div>
                    <h6>Comentarios</h6>
                </div>
                <div class="flex items-end h-full flex-col">
                    <div class="flex flex-row w-full items-start mb-5">
                        <span id="userImage" class="rounded-full min-w-8 min-h-8 text-black flex items-center justify-center">
                            AR
                        </span>
                        <!-- Create the editor container -->
                        <div class="mx-2 w-full">
                            <div id="toolbar" class="border rounded-t border-gray-300 bg-gray-200 px-1">
                                <input type="file" name="" id="input-files" hidden>
                                Subir archivo
                            </div>
                            <textarea name="comment" id="comment" rows="3" placeholder="Escribe un comentario..." class="w-full border border-gray-300 rounded-b p-2 mb-4 focus:outline-none focus:ring-1 focus:ring-offset-indigo-200"></textarea>
                        </div>
                        <div>
                            <button id="send" class="bg-indigo-500 focus:outline-none focus:ring-1 focus:ring-offset-indigo-200 text-white rounded-md px-2 py-1">Enviar</button>
                        </div>
                    </div>

                    <div id="comments" class="flex flex-col w-full">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='http://localhost:8080/socket.io/socket.io.js'></script>
<script src="../js/event.js"></script>