<section class="w-full bg-white rounded-md shadow-sm p-8 flex flex-col items-center">
    <div class="w-1/2 flex ">
        <article class="">
            <h1 class="text-center px-2 pt-2">Ultima tarea</h1>
            <div class="flex flex-col border shadow rounded w-full">
                <h5 class="border-b px-2 py-1 rounded-t text-white" style="background: #2196F3;">Convocatoria: Evento de altar de muertos</h5>
                <div class="px-4 pb-2">
                    <div class="text-gray-500 flex flex-row justify-between mb-3">
                        <span>Publicación</span>
                        <span>0 comentarios</span>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, maiores consequuntur. Consequuntur temporibus ipsa obcaecati laudantium totam saepe incidunt eius fugiat harum molestias, officia quaerat aliquam eligendi maiores ad aperiam?
                            Tempora, alias eveniet possimus quo molestiae accusantium dolore perferendis et ducimus! Tenetur blanditiis mollitia eos accusamus accusantium, fuga fugit perspiciatis vitae ipsam est quod libero, explicabo dolores? Voluptate, nihil quisquam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quidem voluptatem reiciendis nobis, ab totam, possimus explicabo cupiditate distinctio autem perferendis! Nemo reprehenderit repudiandae sapiente tempore odio? Expedita, provident excepturi?</p>
                    </div>
                    <span class="text-gray-500">Publicación en Facebook</span>
                </div>
                <div class="border-t px-4 py-1 rounded-b bg-gray-50 flex flex-row justify-between">
                    <span>Entrega: 16/11/2003</span>
                    <span>09:12 pm</span>
                </div>
            </div>
        </article>
    </div>

</section>

<script src="../js/event.js"></script>